.swiper {
  position: relative;
  height: 330px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
}

.swiper img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pre,
.next {
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  top: 50%;
}

.pre {
  left: 0;
}

.next {
  right: 0;
}